server:
  port: 8082
mail:
  debug: true

spring:
  config:
    import: optional:file:.env[.properties]
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    activation_url: ${MAIL_ACTIVATION_URL}

rabbitmq:
  queue_json: ${RABBITMQ_QUEUE}
  topic: ${RABBITMQ_TOPIC}
  routing_key: ${RABBITMQ_ROUTING_KEY}