<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div class="wrapper bg-primary-override">
    <div th:replace="~{template-part/menu :: menu}"></div>
    <div class="content">
        <div class="container">
            <div class="row d-flex justify-content-center registration-form">
                <h2 class="text-center">Регистрация</h2>
                <form class="form" name="registrationForm" th:action="@{${url}}" th:method="POST"
                      th:object="${registrationForm}">
                    <div class="col-12">
                        <div th:if="${param.logout}" class="alert alert-success">
                            Вы вышли из системы.
                        </div>
                        <div th:if="${userExists}" th:text="${userExists}" class="alert alert-error">
                        </div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{firstname}" class="form-control" placeholder="Фамилия">
                        <div id="validationServerfirstname" class="invalid-feedback">
                            Пожалуйста, введите фамилию.
                        </div>
                        <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{name}" class="form-control" id="exampleInputName"
                               placeholder="Имя">
                        <div id="validationServerName" class="invalid-feedback">
                            Пожалуйста, введите имю.
                        </div>
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{lastname}" class="form-control" id="exampleInputlastname"
                               placeholder="Отчество">
                        <div id="validationServerexampleInputlastname" class="invalid-feedback">
                            Пожалуйста, введите отчество.
                        </div>
                        <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{username}" class="form-control"
                               th:classappend="${userExists} ? 'is-invalid'" id="exampleInputUserName"
                               placeholder="Email">
                        <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            Пользовател с таким email уже зарегистрирован
                        </div>
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <div class="col-12">
                        <input type="date"  class="form-control" placeholder="Дата рождения" th:value="*{getBirthday()}" th:field="*{birthday}"/>
                        <div id="validationServerExampleInputAge" class="invalid-feedback">
                            Пожалуйста, выберите дату рождения.
                        </div>
                        <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
                    </div>
                    <div class="col-12">
                        <select th:field="*{gender}" class="form-control">
                            <option value="" disabled>Выберите пол</option>
                            <option value="Муж">Муж</option>
                            <option value="Жен">Жен</option>
                        </select>
                        <div id="validationServerExampleInputGender" class="invalid-feedback">
                            Пожалуйста, выберите пол.
                        </div>
                        <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{country}" class="form-control" placeholder="Страна">
                        <div id="validationServerExampleCountry" class="invalid-feedback">
                            Пожалуйста, введите страну.
                        </div>
                        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{region}" class="form-control" placeholder="Регион">
                        <div id="validationServerRegion" class="invalid-feedback">
                            Пожалуйста, введите регион.
                        </div>
                        <div th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{locality}" class="form-control"
                               placeholder="Населеный пункт">
                        <div id="validationExampleLocally" class="invalid-feedback">
                            Пожалуйста, введите населеный пункт.
                        </div>
                        <div th:if="${#fields.hasErrors('locality')}" th:errors="*{locality}"></div>
                    </div>
                    <div class="col-12">
                        <input type="text" th:field="*{phone}" class="form-control" placeholder="Телефон">
                        <div id="validationServerExampleInputPhone" class="invalid-feedback">
                            Пожалуйста, введите телефон.
                        </div>
                        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                    </div>
                    <div class="col-12">
                        <select th:field="*{typeOfActivity}" class="form-control" id="exampleInputType">
                            <option value="" disabled>Выберите сферу деятельности</option>
                            <option th:each="a: ${activities}" th:value="${a}" th:text="${a}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('typeOfActivity')}"
                             th:errors="*{typeOfActivity}"></div>
                    </div>
                    <div class="col-12">
                        <input type="password" th:field="*{password}" class="form-control "
                               id="exampleInputPassword1" placeholder="Пароль">
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <div class="col-12">
                        <input type="password" th:field="*{passwordConfirmation}" class="form-control"
                               th:classappend="${passIsNotConfirm} ? 'is-invalid'" id="exampleInputPassword2"
                               placeholder="Подтверждение пароля">
                        <div id="validationPass" class="invalid-feedback">
                            Пароли не совподают
                        </div>
                        <div th:if="${#fields.hasErrors('passwordConfirmation')}"
                             th:errors="*{passwordConfirmation}"></div>
                    </div>
                    <button type="submit" class="btn btn-outline-dark">Зарегистрироваться</button>

                    <div class="privacy-policy">
                        Нажимая на кнопку, вы соглашаетесь на условия <a href="">Пользовательского соглашения</a> и
                        <a href="">Политики обработки персональных данных</a>
                    </div>

                    <div class="login-href">
                        У вас уже есть аккаунт? <a href="/login">Войти</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{template-part/footer :: footer}"></div>
</div>
</body>
</html>