@font-face {
    font-family: "Montserrat-Italic";
    src: url("./fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1680px !important;
    }
}

:root {
    --main-color: #000;
    --white: #fff;
    --bg-primary: #F0F3F6;
    --bg-accent: #82929F;
    --active-font-color: #298ED7;
    --base-font-color: #2F4152;
    --main-font: "Montserrat", sans-serif;
    --base-font-size: 16px;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--main-font);
    font-size: var(--base-font-size);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.bg-primary-override {
    background: var(--bg-primary);
}

.form {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
}

.content {
    flex: 1 0 auto;
    padding-top: 50px;
}

#footer {
    flex: 0 0 auto;
}

.navbar {
    padding: 25px 0;
    background: var(--main-color);
}

.navbar-logo {
    text-decoration: none;
}

.navbar-logo:hover {
    text-decoration: none;
    color: var(--white);
}

.navbar-logo > div {
    margin-left: 20px;
    color: var(--white);;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.24px;
}

.btn {
    border-radius: 30px;
    border: 1px solid #000;
    padding: 5px 25px;
}

.btn-outline-light {
    border: 1px solid var(--white);;
    color: var(--white);;
}

.btn-outline-light:hover {
    color: var(--main-color);
}

#footer {
    background: var(--main-color);
    padding: 34px 0 30px 0;
    margin-top: 50px;
}

#footer > * {
    color: var(--white);;
}

.footer-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.24px;
}

.footer-logo > div {
    margin-left: 20px;
}

.footer-social a {
    margin: 0 15px;
}

.footer-info {
    margin-top: 48px;
}

.footer-info > * {
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
}

.form {
    max-width: 600px;
}

.form .form-control {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ced4da;
}

.form .form-control:focus {
    border-bottom: 1px solid var(--main-color);
    box-shadow: none;
}

.form .privacy-policy, .form .privacy-policy > * {
    color: var(--bg-accent);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
}

.form .login-href {
    color: var(--bg-accent);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
}

#menu .navbar-nav .nav-item {
    margin-left: 24px;
}

#menu .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
}

#menu .navbar-nav .nav-item .nav-link img {
    margin-right: -15px;
}

#account-menu .nav-tabs .nav-link {
    border: none;
}

#account-menu .nav-item.active {
    border-bottom: solid 2px var(--active-font-color);
}

#account-menu .nav-item.active .nav-link {
    color: var(--active-font-color);
}

#account-menu .nav-item .nav-link {
    color: #2F4152;
}

.account-grid {
    margin-top: 30px;
}

.account-grid .wrapper {
    background: #fff;
    padding: 30px 40px;
    border-radius: 20px;
}

.account-grid > * {
    color: var(--base-font-color);
}

.account-grid h3 {
    font-size: 22px;
}

.account-grid .user-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-grid .user-data .name {
    font-size: 24px;
}

.account-grid .user-data .date {
    text-align: right;
}

.account-grid .address, .account-grid .email, .account-grid .phone {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    margin-top: 16px;
}

.account-grid .activity {
    margin-top: 16px;
}

.account-grid .activity .activity-title {
    font-size: 16px;
    color: #82929F;
}

.account-grid .activity .activity-text {
    font-size: 18px;
}

.account-grid .button-wrapper {
    margin-top: 30px;
}

.account-edit-form .account-edit-form-wrapper {
    background: #fff;
    border-radius: 20px;
    padding: 30px 40px;
}

.account-edit-form .account-edit-form-wrapper input, .account-edit-form .account-edit-form-wrapper select {
    margin-top: 16px;
    border-radius: unset;
    border: none;
    border-bottom: solid 1px #82929F;
    box-shadow: none;
}
.account-edit-form .account-edit-form-wrapper input:focus, .account-edit-form .account-edit-form-wrapper select:focus {
    border-bottom: solid 1px var(--active-font-color);
    color: var(--active-font-color);
}

.account-edit-form, .account-change-password-form{
    margin-top: 30px;
}

.account-edit-form .btn {
    margin-top: 70px;
}

.account-edit-form .account-edit-form-wrapper select {
    background: url("/static/img/icons/arrow_down.svg") no-repeat right;
}

.registration-form select {
    background: url("/static/img/icons/arrow_down.svg") no-repeat right;
}

.login-form .form, .registration-form .form{
    align-items: center;
}