@font-face {
    font-family: "Montserrat-Italic";
    src: url("./fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

:root {
    --main-color: #000;
    --white: #fff;
    --bg-primary: #F0F3F6;
    --bg-accent: #82929F;
    --main-font: "Montserrat", sans-serif;
    --base-font-size: 16px;
}

html,
body {
    height: 100%;
}

body {
    font-family: var(--main-font);
    font-size: var(--base-font-size);
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bg-primary-override {
    background: var(--bg-primary);
}

.form{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-radius: 20px;
    background: #FFF;
}
.content {
    flex: 1 0 auto;
    padding-top: 50px;
}

#footer {
    flex: 0 0 auto;
}

.navbar {
    padding: 25px 0;
    background: var(--main-color);
}

.navbar-logo {
    text-decoration: none;
}

.navbar-logo:hover {
    text-decoration: none;
    color: var(--white);
}

.navbar-logo > div {
    margin-left: 20px;
    color: var(--white);;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.24px;
}

.btn {
    border-radius: 30px;
    border: 1px solid #000;
}

.btn-outline-light {
    border: 1px solid var(--white);;
    color: var(--white);;
}

.btn-outline-light:hover {
    color: var(--main-color);
}

#footer {
    background: var(--main-color);
    padding: 34px 0 30px 0;
    margin-top: 50px;
}

#footer > * {
    color: var(--white);;
}

.footer-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.24px;
}

.footer-logo > div {
    margin-left: 20px;
}

.footer-social a {
    margin: 0 15px;
}

.footer-info {
    margin-top: 48px;
}

.footer-info > * {
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
}
.form{
    max-width: 600px;
}
.form .form-control{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ced4da;
}

.form .form-control:focus{
    border-bottom: 1px solid var(--main-color);
    box-shadow: none;
}

.form .privacy-policy, .form .privacy-policy>* {
    color: var(--bg-accent);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
}

.form .login-href{
    color: var(--bg-accent);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.14px;
}