<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div class="wrapper bg-primary-override">
    <div th:replace="~{template-part/menu :: menu}"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Личный кабинет</h2>
                    <div th:replace="~{account/menu::account-menu}"></div>
                </div>
            </div>
            <div class="row account-grid">
                <div class="col-sm-12 col-md-6">
                    <div class="wrapper">
                        <h3>Информация о вашей площадке</h3>
                        <div class="user-data">
                            <div class="name" th:text="${organization.getName()}">
                            </div>
                        </div>
                        <div class="address" th:text="${organization.getDescription()}">
                        </div>
                        <div class="activity">
                            <div class="activity-title">
                                Тип площадки:
                            </div>
                            <div class="activity-text" th:text="${organization.getType()}">
                            </div>
                        </div>
                        <div class="activity">
                            <div class="activity-title">
                                Максимальное количество участников:
                            </div>
                            <div class="activity-text" th:text="${organization.getParticipantsMaxCount()}">
                            </div>
                        </div>

                        <div class="button-wrapper">
                            <a href="/account/organization/edit" class="btn btn-outline-dark">Редактировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="wrapper">2</div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{template-part/footer :: footer}"></div>
</div>
</body>
</html>