<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div th:replace="~{template-part/menu :: menu}"></div>
<div class="container">
    <div class="row">
        <div th:if="${message}" class="alert alert-danger" th:text="${message}"></div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Страница организации
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${organization.getName()}"></h5>
                    <p class="card-text" th:text="${organization.getDescription()}"></p>
<!--                    <a th:if="${currentUser.id == organization.auth.id}" href="/organization/edit" class="btn btn-primary">Редактировать</a>-->
<!--                    <a th:href="@{/organization/join/{id}(id=${organization.getId()})}" class="btn btn-primary">Присоединиться</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>