<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<div th:fragment="account-menu" id="account-menu">
  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a class="nav-link " aria-current="page" href="#">Профиль</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Тестовые диктанты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Мои результаты</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Моя площадка</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Пройти диктант онлайн</a>
    </li>
  </ul>
</div>