<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{template-part/menu :: menu}"></div>
    <div class="content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6 ">
                    <h2>Изменить пароль</h2>
                    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
                    <div th:if="${message}" th:text="${message}" class="alert alert-success"></div>
                    <form name="registrationForm" th:action="@{/user/password}" th:method="POST" th:object="${user}">
                        <div class="mb-3">
                            <label for="exampleInputNewPassword" class="form-label">Новый пароль*</label>
                            <input type="password" th:field="*{newPassword}" class="form-control"
                                   id="exampleInputNewPassword">
                            <div id="validationServerNewPassword" class="invalid-feedback">
                                Пожалуйста, введите новый пароль.
                            </div>
                            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputNewPasswordConfirmation" class="form-label">Подтверждения нового
                                пароля</label>
                            <input type="password" th:field="*{newPasswordConfirmation}" class="form-control"
                                   id="exampleInputNewPasswordConfirmation">
                            <div id="validationServerExampleInputNewPasswordConfirmation" class="invalid-feedback">
                                Пожалуйста, повторно пароль.
                            </div>
                            <div th:if="${#fields.hasErrors('newPasswordConfirmation')}"
                                 th:errors="*{newPasswordConfirmation}"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{template-part/footer :: footer}"></div>

</div>
</body>
</html>