<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{template-part/menu :: menu}"></div>
    <div class="content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6 ">
                    <h2>Создать организацию</h2>
                    <form name="registrationForm" th:action="@{/organization/create}" th:method="POST"
                          th:object="${organizationForm}">
                        <div class="mb-3">
                            <div th:if="${organizationExists}" th:text="${organizationExists}"
                                 class="alert alert-error">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputUserName" class="form-label">Название организации</label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   th:classappend="${organizationExists} ? 'is-invalid'" id="exampleInputUserName">
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                Пожалуйста, выберите название организации.
                            </div>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Описание</label>
                            <textarea type="password" th:field="*{description}" class="form-control "
                                      id="exampleInputPassword1"></textarea>
                            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputParticipant" class="form-label">Количество участников</label>
                            <input type="password" th:field="*{participantsMaxCount}" class="form-control "
                                      id="exampleInputParticipant"/>
                            <div th:if="${#fields.hasErrors('participantsMaxCount')}"
                                 th:errors="*{participantsMaxCount}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputCountry" class="form-label">Страна</label>
                            <input type="password" th:field="*{country}" class="form-control "
                                      id="exampleInputCountry">
                            <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputRegion" class="form-label">Регион</label>
                            <input type="password" th:field="*{region}" class="form-control "
                                      id="exampleInputRegion">
                            <div th:if="${#fields.hasErrors('region')}" th:errors="*{region}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputCity" class="form-label">Город</label>
                            <input type="password" th:field="*{city}" class="form-control "
                                      id="exampleInputCity">
                            <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputAddress" class="form-label">Адрес</label>
                            <input type="password" th:field="*{address}" class="form-control "
                                      id="exampleInputAddress">
                            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputType" class="form-label">Тип площадки</label>
                            <input type="password" th:field="*{type}" class="form-control "
                                      id="exampleInputType">
                            <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{template-part/footer :: footer}"></div>
</body>
</html>