<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{template-part/menu :: menu}"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            Профиль пользователя
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${user.getUsername()}"></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional
                                content.</p>
                            <a href="/user/edit" class="btn btn-primary">Редактировать</a>
                            <a href="/user/password" class="btn btn-primary">Изменить пароль</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{template-part/footer :: footer}"></div>

</div>
</body>
</html>