spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hd_db
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    baselineOnMigrate: true
    validateOnMigrate: false
    locations: classpath:db/migration

  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: 1111

rabbitmq:
  queue: mail-sender
  topic: topicNAME
  routing_key: activation
