spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:postgresql://localhost:5432/hd_db
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    baselineOnMigrate: true
    validateOnMigrate: false
    locations: classpath:db/migration

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

rabbitmq:
  queue_json: ${RABBITMQ_QUEUE}
  topic: ${RABBITMQ_TOPIC}
  routing_key: ${RABBITMQ_ROUTING_KEY}
