spring:
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:postgresql://postgres:5432/hd_db
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate

  flyway:
    baselineOnMigrate: true
    validateOnMigrate: false
    locations: classpath:db/migration

  rabbitmq:
    host: rabbitmq
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}


