<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div th:replace="~{template-part/menu :: menu}"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        Страница организации
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${organization.getName()}"></h5>
                        <p class="card-text" th:text="${organization.getDescription()}"></p>
                        <a th:href="@{/control/organizations/edit/{id}(id=${organization.getId()})}"
                           class="btn btn-primary">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>