<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div class="wrapper bg-primary-override">
    <div th:replace="~{template-part/menu :: menu}"></div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Профиль</h2>
                </div>
            </div>
            <div class="row d-flex account-change-password-form">
                <div class="col-5">
                    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
                    <div th:if="${message}" th:text="${message}" class="alert alert-success"></div>
                    <form class="form" name="registrationForm" th:action="@{/account/password}" th:method="POST"
                          th:object="${user}">
                        <h4 class="left">Изменить пароль</h4>
                        <input type="password" th:field="*{newPassword}" class="form-control"
                               placeholder="Новый пароль">
                        <div id="validationServerNewPassword" class="invalid-feedback">
                            Пожалуйста, введите новый пароль.
                        </div>
                        <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                        <input type="password" th:field="*{newPasswordConfirmation}" class="form-control"
                               placeholder="Подтверждения нового пароля">
                        <div id="validationServerExampleInputNewPasswordConfirmation" class="invalid-feedback">
                            Пожалуйста, повторно пароль.
                        </div>
                        <div th:if="${#fields.hasErrors('newPasswordConfirmation')}"
                             th:errors="*{newPasswordConfirmation}"></div>
                        <button type="submit" class="btn btn-outline-dark">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{template-part/footer :: footer}"></div>

</div>
</body>
</html>