<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta th:replace="~{template-part/header :: header}">
</head>
<body>
<div class="wrapper">
    <div th:replace="~{template-part/menu :: menu}"></div>
    <div class="content">
        <div class="container">
            <h1>Главная страница</h1>
        </div>
    </div>
    <div th:replace="~{template-part/footer :: footer}"></div>
</div>
</body>
</html>