name: HD CI Maven
on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ main ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache JDK
        uses: actions/cache@v3
        with:
          path: ~/jdk
          key: jdk
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m3/repository
          key: maven-${{ hashFiles('**backend/pom.xml') }}
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build and test backend
        run: mvn -B clean package install --file backend/pom.xml

  build-mail-sender:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache JDK
        uses: actions/cache@v3
        with:
          path: ~/jdk
          key: jdk
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m3/repository
          key: maven-${{ hashFiles('**backend/pom.xml') }}
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build and test mail service
        run: mvn -B clean package install --file mail-sender/pom.xml
