name: Deploy

on:
  push:
    branches: [ test-wf ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/hd_backend/
            GIT_SSH_COMMAND="ssh -i ~/.ssh/yarar" git pull origin main